<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.recipes">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity android:name=".app.recipe.RecipeActivity">

        </activity>
        <activity android:name=".admin.recipe.RecipeAdminActivity" />
        <activity android:name=".admin.event.EventAdminActivity" />
        <activity android:name=".admin.area.AreaAdminActivity" />
        <activity android:name=".admin.category.CategoryAdminActivity" />
        <activity
            android:name=".admin.dashboard.DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".app.recipe_detail.RecipeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".app.area.AreaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".app.event.EventActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".app.category.CategoryActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".app.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".app.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>